# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# 编辑器
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 依赖
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 构建产物
dist/
build/
.cache/

# 环境变量
.env
.env.local
.env.*.local

# 日志
*.log
logs/
